<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

    <%- include ("../partials/loader.ejs") %>

        <%- include ("../partials/nav.ejs") %>

            <!--  BEGIN MAIN CONTAINER  -->
            <div class="main-container sidebar-closed " id="container">

                <div class="overlay"></div>
                <div class="search-overlay"></div>

                <%- include ("../partials/sidebar.ejs") %>

                    <!--  BEGIN CONTENT AREA  -->
                    <div id="content" class="main-content">
                        <div class="layout-px-spacing">

                            <div class="middle-content container-xxl p-0">
                                <!-- BREADCRUMB -->
                                <div class="page-meta">
                                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a
                                                    href="/review">Review
                                                    Management</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                                        </ol>
                                    </nav>
                                </div>
                                <!-- /BREADCRUMB -->

                                <div class="row layout-spacing">
                                    <div class="col-lg-12 layout-top-spacing">
                                        <div class="col-lg-12">
                                            <!-- Post Form -->
                                            <form method="post" enctype='multipart/form-data'>
                                                <div class="statbox widget box box-shadow">
                                                    <div class="widget-header">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h4></h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="widget-content widget-content-area">
                                                        <div class="form-group row mb-4">
                                                            <label class="col-sm-2 col-form-label col-form-label-sm">Car
                                                                Information</label>
                                                            <select class="form-select" id="carInfo" name="carInfo_id">
                                                                <% car.rows.forEach(function(item, index) { %>
                                                                    <option value="<%= item.carInfo_id %>">
                                                                        <%= item.maker +'-'+ item.model +'-'+
                                                                            item.detailModel +'-'+ item.yearModel %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>
                                                        <div class="form-group row mb-4">
                                                            <label
                                                                class="col-sm-2 col-form-label col-form-label-sm">Supplier
                                                                User
                                                            </label>
                                                            <select class="form-select" id="suppliereUsers"
                                                                name="supplierUsers_id">
                                                                <% supplier.rows.forEach(function(item, index) { %>
                                                                    <option value="<%= item.supplierUsers_id %>">
                                                                        <%= item.companyName +'-'+ item.mainPhoneNum %>
                                                                    </option>
                                                                    <% }); %>
                                                            </select>
                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <label class="col-sm-2 col-form-label col-form-label-sm">Car
                                                                Number</label>
                                                            <input id="carNum" type="text" name="carNum" placeholder=""
                                                                class="form-control" required>

                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <label
                                                                class="col-sm-2 col-form-label col-form-label-sm">Phone
                                                                Number</label>
                                                            <input id="phoneNum" type="text" name="phoneNum"
                                                                placeholder="" class="form-control" required>

                                                        </div>

                                                        <div class="form-group row mb-4">
                                                            <label
                                                                class="col-sm-2 col-form-label col-form-label-sm">Owner
                                                                Number</label>
                                                            <input id="clientName" type="text" name="clientName"
                                                                placeholder="" class="form-control" required>

                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Title</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-12 ">
                                                                <form method="post">
                                                                    <div class="form-group">
                                                                        <label for="t-text"
                                                                            class="visually-hidden">Text</label>
                                                                        <input id="title" type="text" name="title"
                                                                            placeholder="" class="form-control"
                                                                            required>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6> Content </h6>
                                                            </div>
                                                        </div>
                                                        <div id="editor-container">
                                                            <textarea class="form-control w-100" name="content"
                                                                rows="15"></textarea>
                                                        </div>
                                                        <!-- <div id="content-container" hidden>
                                        <div id="toolbar-container">
                                            <button class="ql-bold" data-toggle="tooltip" data-placement="bottom" title="Bold"></button>
                                            <button class="ql-underline" data-toggle="tooltip" data-placement="bottom" title="Underline"></button>
                                            <button class="ql-italic" data-toggle="tooltip" data-placement="bottom" title="Add italic text <cmd+i>"></button>
                                            <button class="ql-image" data-toggle="tooltip" data-placement="bottom" title="Upload image"></button>
                                            <button class="ql-code-block" data-toggle="tooltip" data-placement="bottom" title="Show code"></button>
                                        </div>
                                        <div id="quill-tooltip">
                                            <h1>This is a heading text...</h1>
                                            <br/>
                                            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dui arcu, pellentesque id mattis sed, mattis semper erat. Etiam commodo arcu a mollis consequat. Curabitur pretium auctor tortor, bibendum placerat elit feugiat et. Ut ac turpis nec dui ullamcorper ornare. Vestibulum finibus quis magna at accumsan. Praesent a purus vitae tortor fringilla tempus vel non purus. Suspendisse eleifend nibh porta dolor ullamcorper laoreet. Ut sit amet ipsum vitae lectus pharetra tincidunt. In ipsum quam, iaculis at erat ut, fermentum efficitur ipsum. Nunc odio diam, fringilla in auctor et, scelerisque at lorem. Sed convallis tempor dolor eu dictum. Cras ornare ornare imperdiet. Pellentesque sagittis lacus non libero fringilla faucibus. Aenean ullamcorper enim et metus vestibulum, eu aliquam nunc placerat. Praesent fringilla dolor sit amet leo pulvinar semper. </p>
                                            <br/>
                                            <p> Curabitur vel tincidunt dui. Duis vestibulum eget velit sit amet aliquet. Curabitur vitae cursus ex. Aliquam pulvinar vulputate ullamcorper. Maecenas luctus in eros et aliquet. Cras auctor luctus nisl a consectetur. Morbi hendrerit nisi nunc, quis egestas nibh consectetur nec. Aliquam vel lorem enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc placerat, enim quis varius luctus, enim arcu tincidunt purus, in vulputate tortor mi a tortor. Praesent porta ornare fermentum. Praesent sed ligula at ante tempor posuere a at lorem. </p>
                                            <br/>
                                            <p>Aliquam diam felis, vehicula ut ipsum eu, consectetur tincidunt ipsum. Vestibulum sed metus ac nisi tincidunt mollis sed non urna. Vivamus lacinia ullamcorper interdum. Sed sed erat vel leo venenatis pretium. Sed aliquet sem nunc, ut iaculis dolor consectetur et. Vivamus ligula sapien, maximus nec pellentesque ut, imperdiet at libero. Vivamus semper nulla lectus, id dapibus nulla convallis id. Quisque elementum lectus ac dui gravida, ut molestie nunc convallis. Pellentesque et odio non dolor convallis commodo sit amet a ante. </p>
                                        </div>
                                    </div> -->
                                                        <div class="form-group mb-4 layout-top-spacing">
                                                            <label for="exampleFormControlSelect1">Grade</label>
                                                            <select class="form-select" id="grade" name="grade">
                                                                <option value="1">★</option>
                                                                <option value="2">★★</option>
                                                                <option value="3">★★★</option>
                                                                <option value="4">★★★★</option>
                                                                <option value="5">★★★★★</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <input class="form-control file-upload-input" type="file"
                                                                id="formFile1" name="files">
                                                        </div>

                                                        <div class="mb-3">
                                                            <input class="form-control file-upload-input" type="file"
                                                                id="formFile2" name="files">
                                                        </div>

                                                        <div class="mb-3">
                                                            <input class="form-control file-upload-input" type="file"
                                                                id="formFile3" name="files">
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <button
                                                                        class="btn btn-outline-success mb-2 me-4">Save</button>
                                                                    <button class="btn btn-outline-danger mb-2 me-4"
                                                                        type="button" onclick="cancel()">Cancel</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <!-- /Post Form -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%- include ("../partials/footer.ejs") %>

                    </div>
                    <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->

            <%- include ("../partials/commonScrpits.ejs") %>

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>