<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Reception History Management</li>
                      <li class="breadcrumb-item"><a href="supplier-request.html"> Supplier Request</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Add</li>
                    </ol>
                  </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                  <div class="col-lg-12 layout-top-spacing">
                    <div class="col-lg-12">
                      <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                          <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                              <h4></h4>
                            </div>
                          </div>
                        </div>

                        <div class="widget-content widget-content-area">
                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>[접수차량 상세 정보]</h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>접수일</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text1" class="visually-hidden">Text</label>
                                  <input id="t-text1" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차량번호</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>저당/압류</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text2" class="visually-hidden">Text</label>
                                  <input id="t-text2" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text3" class="visually-hidden">Text</label>
                                  <input id="t-text3" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>계약번호</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차종</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text4" class="visually-hidden">Text</label>
                                  <input id="t-text4" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text5" class="visually-hidden">Text</label>
                                  <input id="t-text5" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>연식</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차주명</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text6" class="visually-hidden">Text</label>
                                  <input id="t-text6" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text7" class="visually-hidden">Text</label>
                                  <input id="t-text7" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차량상태</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>폐차구분</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>양호</option>
                                    <option>사고</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>일반</option>
                                    <option>조기</option>
                                    <option>압류</option>
                                    <option>상속</option>
                                  </select>
                                </div>
                              </form>
                            </div>

                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수방법</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>알미늄휠</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>견인</option>
                                    <option>조기</option>
                                    <option>인탁</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>O</option>
                                    <option>X</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수요청일</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수시간</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text8" class="visually-hidden">Text</label>
                                  <input id="t-text8" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text9" class="visually-hidden">Text</label>
                                  <input id="t-text9" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수장소</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>신차구매</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text10" class="visually-hidden">Text</label>
                                  <input id="t-text10" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>O</option>
                                    <option>X</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수시연락처</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수지역</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text11" class="visually-hidden">Text</label>
                                  <input id="t-text11" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text12" class="visually-hidden">Text</label>
                                  <input id="t-text12" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>기타사항</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>소상공인</option>
                                    <option>차상위계층</option>
                                    <option>기초생활수급자</option>
                                    <option>영업용차량</option>
                                    <option>저감장치 미개발</option>
                                    <option>저감장치 장착불가</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수업체</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text113" class="visually-hidden">Text</label>
                                  <input id="t-text113" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <button class="btn btn-outline-success mb-2 me-4" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">등록</button>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차대비</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>손실급 - 1</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text13" class="visually-hidden">Text</label>
                                  <input id="t-text13" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text14" class="visually-hidden">Text</label>
                                  <input id="t-text14" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>탁송료</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>손실급 - 2</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text15" class="visually-hidden">Text</label>
                                  <input id="t-text15" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text16" class="visually-hidden">Text</label>
                                  <input id="t-text16" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>폐차맨수수료</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>손실급 - 3</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text17" class="visually-hidden">Text</label>
                                  <input id="t-text17" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text18" class="visually-hidden">Text</label>
                                  <input id="t-text18" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>[계좌정보 - 1]</h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>은행명</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>계좌번호</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text19" class="visually-hidden">Text</label>
                                  <input id="t-text19" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text20" class="visually-hidden">Text</label>
                                  <input id="t-text20" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>예금주</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>금액</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text21" class="visually-hidden">Text</label>
                                  <input id="t-text21" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text22" class="visually-hidden">Text</label>
                                  <input id="t-text22" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>[계좌정보 - 2]</h6>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>은행명</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>계좌번호</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text23" class="visually-hidden">Text</label>
                                  <input id="t-text23" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text24" class="visually-hidden">Text</label>
                                  <input id="t-text24" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>예금주</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>금액</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text25" class="visually-hidden">Text</label>
                                  <input id="t-text25" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text26" class="visually-hidden">Text</label>
                                  <input id="t-text26" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>말소일</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>폐차비 입금</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text27" class="visually-hidden">Text</label>
                                  <input id="t-text27" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>O</option>
                                    <option>X</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>회수일</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>추가보조금청구</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text29" class="visually-hidden">Text</label>
                                  <input id="t-text29" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>X</option>
                                    <option>O</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>수수료 입금일</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>검사비 입금</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text31" class="visually-hidden">Text</label>
                                  <input id="t-text31" type="date" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>O</option>
                                    <option>X</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>차량등록증</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile1">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>통장사본</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile2">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>신분증1</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile3">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>신분증2</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile4">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>폐차말소증</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile5">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>폐차인수증</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile6">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>압류입금내역</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile7">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>신차등록증</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile8">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>기타1</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile9">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>기타2</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile10">
                          </div>

                          <div class="mb-3">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>지급대상확인서</h6>
                            </div>
                            <input class="form-control file-upload-input" type="file" id="formFile11">
                          </div>

                          <div class="row layout-top-spacing">
                            <div class="col-lg-6 col-12 ">
                              <form method="post">
                                <div class="form-group">
                                  <button class="btn btn-outline-success mb-2 me-4">Save</button>
                                  <button class="btn btn-outline-danger mb-2 me-4">Cancel</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>

            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Supplier USER</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <svg> ... </svg>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 layout-top-spacing">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title and content"
                      aria-label="Recipient's username with two button addons">
                    <button class="btn btn-outline-primary" type="button">Search</button>
                  </div>
                </div>
              </div>

              <div class="table-responsive layout-top-spacing">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Company Name</th>
                      <th scope="col">P-ID</th>
                      <th class="text-center" scope="col">Address</th>
                    </tr>
                    <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <span class="media-body align-self-center">폐차1</span>
                      </td>
                      <td class="text-center">
                        <span class="media-body align-self-center">0111</span>
                      </td>
                      <td class="text-center">
                        <span class="media-body align-self-center">서울시 xx</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ("../partials/commonScrpits.ejs") %>

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>