<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">Image Setting</li>
                        </ol>
                    </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                    <div class="col-lg-12 layout-top-spacing">
                        <div class="col-lg-12">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-content widget-content-area">
                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile1">Notice Image</label>
                                        <form method="POST" action="/imageSetting/noticeImage" enctype="multipart/form-data">
                                            <input type="file" class="form-control-file" name="exampleFormControlFile1">
                                            <button type="submit">Upload</button>
                                        </form>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>About Us Tab 1 Title</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text1" class="visually-hidden">About Us Tab 1 Title</label>
                                                    <input id="t-text1" type="text" name="txt" placeholder="TEXT" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row layout-top-spacing">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>About Us Tab 1 URL</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text2" class="visually-hidden">About Us Tab 1 URL</label>
                                                    <input id="t-text2" type="text" name="txt" placeholder="URL" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row layout-top-spacing">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>About Us Tab 2 Title</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text3" class="visually-hidden">About Us Tab 2 Title</label>
                                                    <input id="t-text3" type="text" name="txt" placeholder="TEXT" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile2">About Us Tab 2 Image</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile2">
                                    </div>

                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile3">개인 정보 보호법</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile3">
                                    </div>

                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile4">이용약관</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile4">
                                    </div>

                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile5">수출관리 공지</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile5">
                                    </div>

                                    <div class="form-group mb-4 mt-3">
                                        <label for="exampleFormControlFile6">수출관리 사진 샘플</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile6">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <%- include ("../partials/commonScrpits.ejs") %>

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>