<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed remove-alt-menu">

    <%- include ("../partials/loader.ejs") %>

        <%- include ("../partials/nav.ejs") %>

            <!--  BEGIN MAIN CONTAINER  -->
            <div class="main-container sidebar-closed " id="container">

                <div class="overlay"></div>
                <div class="search-overlay"></div>

                <%- include ("../partials/sidebar.ejs") %>

                    <!--  BEGIN CONTENT AREA  -->
                    <div id="content" class="main-content">
                        <div class="layout-px-spacing">

                            <div class="middle-content container-xxl p-0">
                                <!-- BREADCRUMB -->
                                <div class="page-meta">
                                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/suppliersupplierUsers">협력사 관리</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">
                                                <%= data.companyName %>
                                            </li>
                                        </ol>
                                    </nav>
                                </div>
                                <!-- /BREADCRUMB -->

                                <div class="row layout-spacing">
                                    <div class="col-lg-12 layout-top-spacing">
                                        <div class="col-lg-12">
                                            <div class="statbox widget box box-shadow">
                                                <div class="widget-header">
                                                    <div class="row">
                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                            <h4></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <form method="post">
                                                    <div class="widget-content widget-content-area">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>협력사 회사명</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <form method="post">
                                                                    <div class="form-group">
                                                                        <label for="companyName"
                                                                            class="visually-hidden">Text</label>
                                                                        <label id="companyName" type="text"
                                                                            name="companyName" class="form-control">
                                                                            <%= data.companyName %>
                                                                        </label>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>사업자등록번호</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="companyNumber"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="companyNumber" type="text"
                                                                        name="companyNumber" class="form-control">
                                                                        <%= data.companyNumber %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>대표전화번호(ID)</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="mainPhoneNum"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="mainPhoneNum" type="text"
                                                                        name="mainPhoneNum" class="form-control">
                                                                        <%= data.mainPhoneNum %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- 
                                                    <div class="row">
                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                            <h6>Password</h6>
                                                        </div>
                                                    </div>

                                                    <div class="row layout-spacing">
                                                        <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="password"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="password" type="password" name="password"
                                                                         class="form-control" 
                                                                </div>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                            <h6>Confirm Password</h6>
                                                        </div>
                                                    </div>

                                                    <div class="row layout-spacing">
                                                        <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="confirm_password"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="confirm_password" type="password" name="confirm_password"
                                                                         class="form-control" 
                                                                </div>
                                                        </div>
                                                    </div> -->

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>소재지</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="address"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="address" type="text" name="address"
                                                                        class="form-control">
                                                                        <%= data.address %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>대표자 성함</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="ownerName"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="ownerName" type="text" name="ownerName"
                                                                        class="form-control">
                                                                        <%= data.ownerName %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>대표자 연락처</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="phoneNum"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="phoneNum" type="text" name="phoneNum"
                                                                        class="form-control">
                                                                        <%= data.phoneNum %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Email</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="email"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="email" type="text" name="email"
                                                                        class="form-control">
                                                                        <%= data.email %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>메모</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="note"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="note" type="text" name="note"
                                                                        class="form-control">
                                                                        <%= data.note %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <% if(user.permission7.data[0]&0b0010) { %>
                                                                        <button
                                                                            class="btn btn-outline-success mb-2 me-4"
                                                                            type="button"
                                                                            onclick="resetPassword('<%= data.supplierUsers_id %>');">비밀번호
                                                                            초기화</button>
                                                                        <button
                                                                            class="btn btn-outline-success mb-2 me-4"
                                                                            type="button"
                                                                            onclick="location.href='/supplierUsers/edit/<%= data.supplierUsers_id %>';">수정하기</button>
                                                                        <% } %>
                                                                            <% if(user.permission7.data[0]&0b0001) { %>
                                                                                <button
                                                                                    class="btn btn-outline-danger mb-2 me-4"
                                                                                    type="button"
                                                                                    onclick="location.href='/supplierUsers/delete/<%= data.supplierUsers_id %>';">삭제하기</button>
                                                                                <% } %>
                                                                                    <button
                                                                                        class="btn btn-outline-danger mb-2 me-4"
                                                                                        type="button"
                                                                                        onclick="location.href='/supplierUsers';">뒤로가기</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include ("../partials/footer.ejs") %>
                    </div>
                    <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->

            <%- include ("../partials/commonScrpits.ejs") %>

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
                <script>
                    function resetPassword(id) {
                        const url = `/supplierUsers/resetPassword/${id}`;
                        fetch(url)
                            .then(res => {
                                // console.log(res);
                                if (res.ok) return alert("비밀번호 초기화 성공");
                                else return alert("비밀번호 초기화 실패");
                            })
                    }
                </script>
                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>