<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="../cork-v3.0/html/vertical-light-menu/subsidiary-material.html">Supplier User Management</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                    <div class="col-lg-12 layout-top-spacing">
                        <div class="col-lg-12">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-content widget-content-area">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Company Name</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text1" class="visually-hidden">Text</label>
                                                    <input id="t-text1" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Main Phone Number(ID)</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text2" class="visually-hidden">Text</label>
                                                    <input id="t-text2" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Password</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text3" class="visually-hidden">Text</label>
                                                    <input id="t-text3" type="password" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Confirm Password</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text4" class="visually-hidden">Text</label>
                                                    <input id="t-text4" type="password" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Address</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text5" class="visually-hidden">Text</label>
                                                    <input id="t-text5" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Owner Name</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text6" class="visually-hidden">Text</label>
                                                    <input id="t-text6" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Phone</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text7" class="visually-hidden">Text</label>
                                                    <input id="t-text7" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Email</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text8" class="visually-hidden">Text</label>
                                                    <input id="t-text8" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Note</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text9" class="visually-hidden">Text</label>
                                                    <input id="t-text9" type="text" name="txt" placeholder="" class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row layout-top-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <button class="btn btn-outline-success mb-2 me-4">Edit</button>
                                                        <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="cancel()">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>

            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <%- include ("../partials/commonScrpits.ejs") %>

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>