<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

    <%- include ("../partials/loader.ejs") %>

        <%- include ("../partials/nav.ejs") %>

            <!--  BEGIN MAIN CONTAINER  -->
            <div class="main-container sidebar-closed " id="container">

                <div class="overlay"></div>
                <div class="search-overlay"></div>

                <%- include ("../partials/sidebar.ejs") %>

                    <!--  BEGIN CONTENT AREA  -->
                    <div id="content" class="main-content">
                        <div class="layout-px-spacing">

                            <div class="middle-content container-xxl p-0">
                                <!-- BREADCRUMB -->
                                <div class="page-meta">
                                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/carinfo">Car Information
                                                    Management</a></li>
                                            <!-- <li class="breadcrumb-item active" aria-current="page">Edit</li> -->
                                        </ol>
                                    </nav>
                                </div>
                                <!-- /BREADCRUMB -->

                                <div class="row layout-spacing">
                                    <div class="col-lg-12 layout-top-spacing">
                                        <div class="col-lg-12">
                                            <form method="post">
                                                <div class="statbox widget box box-shadow">
                                                    <div class="widget-header">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h4></h4>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="widget-content widget-content-area">
                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Company</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="maker"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="maker" type="text" name="maker"
                                                                        class="form-control">
                                                                        <%= data.maker %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Model</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="model"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="model" type="text" name="model"
                                                                        class="form-control">
                                                                        <%= data.model %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Detail Model</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="detailModel"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="detailModel" type="text"
                                                                        name="detailModel" class="form-control">
                                                                        <%= data.detailModel %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Year Model</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="yearModel"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="yearModel" type="text" name="yearModel"
                                                                        class="form-control">
                                                                        <%= data.yearModel %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Subsidiary Model</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-6 mb-xl-0 mb-2">
                                                                <div class="table-responsive layout-spacing">
                                                                    <table class="table table-striped table-bordered">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col">Name</th>
                                                                                <th scope="col">Unit</th>
                                                                                <th class="text-center" scope="col">
                                                                                    Price</th>
                                                                                <th class="text-center" scope="col">
                                                                                    Count</th>
                                                                            </tr>
                                                                            <tr aria-hidden="true"
                                                                                class="mt-3 d-block table-row-hidden">
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="partsList">
                                                                            <% let filtedParts=(parts.rows.filter(part=>
                                                                                partsList.rows.some(e=>part.parts_id==e.parts_id)))
                                                                                %>
                                                                                <% partsList.rows.forEach(function(item,
                                                                                    index) { %>
                                                                                    <% let part=filtedParts.find(part=>
                                                                                        part.parts_id==item.parts_id) %>
                                                                                        <tr
                                                                                            id="part-<%= item.parts_id %>">
                                                                                            <td class="text-center">
                                                                                                <span
                                                                                                    class="media-body align-self-center">
                                                                                                    <%= part.name %>
                                                                                                </span>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <span
                                                                                                    class="media-body align-self-center">
                                                                                                    <%= part.unit %>
                                                                                                </span>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <span
                                                                                                    class="media-body align-self-center"
                                                                                                    id="part<%= item.parts_id %>Price">
                                                                                                    <%= part.price %>
                                                                                                </span>
                                                                                            </td>
                                                                                            <td class="text-center">
                                                                                                <label
                                                                                                    class="media-body align-self-center"
                                                                                                    name="cnt">
                                                                                                    <%= item.part_cnt %>
                                                                                                </label>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <% }) %>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Total Price</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="price"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="price" type="text" name="price"
                                                                        class="form-control">
                                                                        <%= data.price %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                                <h6>Note</h6>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <label for="note"
                                                                        class="visually-hidden">Text</label>
                                                                    <label id="note" type="text" name="note"
                                                                        class="form-control">
                                                                        <%= data.note %>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row layout-top-spacing">
                                                            <div class="col-lg-6 col-12 ">
                                                                <div class="form-group">
                                                                    <% if(user.permission5.data[0]&0b0010) { %>
                                                                        <button type="button" onclick="location.href='/carInfo/edit/<%= data.carInfo_id %>';"
                                                                            class="btn btn-outline-success mb-2 me-4">Edit</button>
                                                                        <% } %>
                                                                            <button class="btn btn-outline-danger mb-2 me-4"
                                                                                type="button"
                                                                                onclick="location.href='/carInfo';">back</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <%- include ("../partials/footer.ejs") %>

                    </div>
                    <!--  END CONTENT AREA  -->
            </div>
            <!-- END MAIN CONTAINER -->

            <!-- Modal -->
            <div class="modal fade" id="partsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Subsidiary material Search</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                <svg> ... </svg>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 layout-top-spacing">
                                    <div class="label-group">
                                        <label type="text" class="form-control" placeholder="Title and content"
                                            aria-label="Recipient's username with two button addons">
                                            <button class="btn btn-outline-primary" type="button"
                                                onclick="alert('Search');">Search</button>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive layout-top-spacing">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col">Name</th>
                                            <th class="text-center" scope="col">Unit</th>
                                            <th class="text-center" scope="col">Price</th>
                                        </tr>
                                        <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
                                    </thead>
                                    <tbody id="searchResults">
                                        <% parts.rows.forEach(function(item, index) { %>
                                            <tr onclick="add_part('<%= item.parts_id %>');"
                                                id="part<%= item.parts_id %>">
                                                <td class=" text-center">
                                                    <span class="media-body align-self-center partName">
                                                        <%= item.name %>
                                                    </span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="media-body align-self-center partUnit">
                                                        <%= item.unit %>
                                                    </span>
                                                </td>
                                                <td class="text-center">
                                                    <span class="media-body align-self-center partPrice">
                                                        <%= item.price %>
                                                    </span>
                                                </td>
                                            </tr>
                                            <% }); %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ("../partials/commonScrpits.ejs") %>

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

                <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>