<!DOCTYPE html>
<html lang="en">

<head>
  <title>Empty Page | CORK - Multipurpose Bootstrap Dashboard Template </title>
  <%- include ("../partials/header.ejs") %>

</head>

<body class="layout-boxed alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">Reception History Management</li>
                      <li class="breadcrumb-item"><a href="disposal-request.html">Disposal Request</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Add</li>
                    </ol>
                  </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                  <div class="col-lg-12 layout-top-spacing">
                    <div class="col-lg-12">
                      <div class="statbox widget box box-shadow">
                        <div class="widget-header">
                          <div class="row">
                            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                              <h4></h4>
                            </div>
                          </div>
                        </div>

                        <div class="widget-content widget-content-area">
                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Request Date</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Car Number</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text1" class="visually-hidden">Text</label>
                                  <input id="t-text1" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text2" class="visually-hidden">Text</label>
                                  <input id="t-text2" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Phone Number</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Stats</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text3" class="visually-hidden">Text</label>
                                  <input id="t-text3" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <select class="form-select  form-select-lg">
                                    <option>Large select</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                  </select>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Car Name</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Year</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text5" class="visually-hidden">Text</label>
                                  <input id="t-text5" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text6" class="visually-hidden">Text</label>
                                  <input id="t-text6" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Delivery Date</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Disposal Date</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text7" class="visually-hidden">Text</label>
                                  <input id="t-text7" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text8" class="visually-hidden">Text</label>
                                  <input id="t-text8" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Pay Date</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Pay Price</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text9" class="visually-hidden">Text</label>
                                  <input id="t-text9" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text10" class="visually-hidden">Text</label>
                                  <input id="t-text10" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Manager</h6>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <h6>Subsidiary(Car Details)</h6>
                            </div>
                          </div>

                          <div class="row layout-spacing">
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text11" class="visually-hidden">Text</label>
                                  <input id="t-text11" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                            <div class="col-xl-4 mb-xl-0 mb-2">
                              <form method="post">
                                <div class="form-group">
                                  <label for="t-text12" class="visually-hidden">Text</label>
                                  <input id="t-text12" type="text" name="txt" placeholder="" class="form-control"
                                    required>
                                </div>
                              </form>
                            </div>
                          </div>

                          <div class="row layout-top-spacing">
                            <div class="col-lg-6 col-12 ">
                              <form method="post">
                                <div class="form-group">
                                  <button class="btn btn-outline-success mb-2 me-4">Save</button>
                                  <button class="btn btn-outline-danger mb-2 me-4">Cancel</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>



                </div>
              </div>

            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Car Information Search</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <svg> ... </svg>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 layout-top-spacing">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Title and content"
                      aria-label="Recipient's username with two button addons">
                    <button class="btn btn-outline-primary" type="button">Search</button>
                  </div>
                </div>
              </div>

              <div class="table-responsive layout-top-spacing">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Unit</th>
                      <th class="text-center" scope="col">Price</th>
                    </tr>
                    <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <span class="media-body align-self-center">철</span>
                      </td>
                      <td class="text-center">
                        <span class="media-body align-self-center">KG</span>
                      </td>
                      <td class="text-center">
                        <span class="media-body align-self-center">100,000</span>
                      </td>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include ("../partials/commonScrpits.ejs") %>

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>