<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                  <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/carinfo">차량 정보 관리</a></li>
                      <li class="breadcrumb-item active" aria-current="page">
                        <%= data.model %>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">수정</li>
                    </ol>
                  </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                  <div class="col-lg-12 layout-top-spacing">
                    <div class="col-lg-12">
                      <form method="post">
                        <div class="statbox widget box box-shadow">
                          <div class="widget-header">
                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h4></h4>
                              </div>
                            </div>
                          </div>

                          <div class="widget-content widget-content-area">
                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>제조사</h6>
                              </div>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="maker" class="visually-hidden">Text</label>
                                  <input id="maker" type="text" name="maker" placeholder="" class="form-control"
                                    required value="<%= data.maker %>">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>모델명</h6>
                              </div>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="model" class="visually-hidden">Text</label>
                                  <input id="model" type="text" name="model" placeholder="" class="form-control"
                                    required value="<%= data.model %>">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>세부모델</h6>
                              </div>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="detailModel" class="visually-hidden">Text</label>
                                  <input id="detailModel" type="text" name="detailModel" placeholder=""
                                    class="form-control" required value="<%= data.detailModel %>">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>연식</h6>
                              </div>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="yearModel" class="visually-hidden">Text</label>
                                  <input id="yearModel" type="text" name="yearModel" placeholder="" class="form-control"
                                    required value="<%= data.yearModel %>">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>부속품</h6>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-6 mb-xl-0 mb-2">
                                <div class="table-responsive layout-spacing">
                                  <table class="table table-striped table-bordered">
                                    <thead>
                                      <tr>
                                        <th scope="col">품명</th>
                                        <th scope="col">단위</th>
                                        <th class="text-center" scope="col">단위당 가격</th>
                                        <th class="text-center" scope="col">개수</th>
                                        <th class="text-center" scope="col">삭제</th>
                                      </tr>
                                      <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
                                    </thead>
                                    <tbody id="partsList">
                                      <% let filtedParts=(parts.rows.filter(part=>
                                        partsList.rows.some(e=>part.parts_id==e.parts_id))) %>
                                        <% partsList.rows.forEach(function(item, index) { %>
                                          <% let part=filtedParts.find(part=>part.parts_id==item.parts_id) %>
                                            <tr id="part-<%= item.parts_id %>">
                                              <td class="text-center">
                                                <span class="media-body align-self-center">
                                                  <%= part.name %>
                                                </span>
                                              </td>
                                              <td class="text-center">
                                                <span class="media-body align-self-center">
                                                  <%= part.unit %>
                                                </span>
                                              </td>
                                              <td class="text-center">
                                                <span class="media-body align-self-center"
                                                  id="part<%= item.parts_id %>Price">
                                                  <%= part.price %>
                                                </span>
                                              </td>
                                              <td class="text-center">
                                                <input hidden name="parts_id" value="<%= item.parts_id %>">
                                                <input class="media-body align-self-center" name="cnt"
                                                  value="<%= item.part_cnt %>">
                                              </td>
                                              <td class="text-center">
                                                <button class="btn btn-outline-danger mb-2 me-4" type="button"
                                                  onclick="del_part('part-<%= item.parts_id %>')">-</button>
                                              </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="col-xl-1 mb-xl-0 mb-2">
                                <div class="form-group">
                                  <div><button class="btn btn-outline-success mb-2 me-4" data-bs-toggle="modal"
                                      data-bs-target="#partsModal" type="button">+</button></div>
                                </div>
                              </div>
                            </div>



                            <div>
                              <input type="radio" name="calc" id="auto"><span class=""> 예상 견적 자동계산</span>
                              <input type="radio" name="calc" id="manual"><span> 예상 견적 수기입력</span>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="price" class="visually-hidden">Text</label>
                                  <input id="price" type="text" name="price" placeholder="" class="form-control"
                                    required value="<%= data.price %>">
                                </div>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                <h6>메모</h6>
                              </div>
                            </div>

                            <div class="row layout-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <label for="note" class="visually-hidden">Text</label>
                                  <input id="note" type="text" name="note" placeholder="" class="form-control"
                                    value="<%= data.note %>">
                                </div>
                              </div>
                            </div>

                            <div class="row layout-top-spacing">
                              <div class="col-lg-6 col-12 ">
                                <div class="form-group">
                                  <button class="btn btn-outline-success mb-2 me-4">저장</button>
                                  <button class="btn btn-outline-danger mb-2 me-4" type="button"
                                    onclick="cancel()">취소</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <!-- Modal -->
      <div class="modal fade" id="partsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">부속품 검색</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                <svg> ... </svg>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12 layout-top-spacing">
                  <div class="input-group">
                    <input id="searchWord" type="text" class="form-control" placeholder="검색할 부속품명을 입력해주세요."
                      aria-label="Recipient's username with two button addons">
                    <button class="btn btn-outline-primary" type="button" onclick="searchParts();">검색</button>
                  </div>
                </div>
              </div>
              <p id="searchCount"></p>

              <div class="table-responsive layout-top-spacing">
                <table class="table table-hover table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">품명</th>
                      <th class="text-center" scope="col">단위</th>
                      <th class="text-center" scope="col">단위당 가격</th>
                    </tr>
                    <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
                  </thead>
                  <tbody id="searchResults">
                    <% parts.rows.forEach(function(item, index) { %>
                      <tr onclick="add_part('<%= item.parts_id %>');" id="part<%= item.parts_id %>">
                        <td class="text-center">
                          <span class="media-body align-self-center partName">
                            <%= item.name %>
                          </span>
                        </td>
                        <td class="text-center">
                          <span class="media-body align-self-center partUnit">
                            <%= item.unit %>
                          </span>
                        </td>
                        <td class="text-center">
                          <span class="media-body align-self-center partPrice">
                            <%= item.price %>
                          </span>
                        </td>
                      </tr>
                      <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%- include ("../partials/commonScrpits.ejs") %>

        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
        <script>
          $("#yearModel").inputmask("9999");

          let autoFlag = false;

          const manual = document.getElementById('manual')
          manual.addEventListener("change", function (event) {
            if (manual.checked) {
              // alert('autoFlag off');
              autoFlag = false;
            }
          });

          const auto = document.getElementById('auto')
          auto.addEventListener("change", function (event) {
            if (auto.checked) {
              // alert('autoFlag on');
              autoFlag = true;
              auto_total_price();
            }
          });

          document.getElementsByName('cnt')

          function add_part(parts_id) {
            // console.log(parts_id);
            if (document.getElementById('part-' + parts_id)) return alert('이미 추가된 부속품입니다.')

            let part = document.getElementById('part' + parts_id).innerText.split('\t');
            // console.log(part);

            let targetTable = document.getElementById('partsList');
            // console.log(target_table.innerHTML);

            let newRow = targetTable.insertRow();
            //console.log(newRow.outerHTML);

            newRow.id = 'part-' + parts_id;
            console.log(newRow.outerHTML);
            newRow.innerHTML = `<td class="text-center">
              <span class="media-body align-self-center">${part[0]}</span>
            </td>
            <td class="text-center">
              <span class="media-body align-self-center">${part[1]}</span>
            </td>
            <td class="text-center">
              <span class="media-body align-self-center" id="part${parts_id}Price">${part[2]}</span>
            </td>
            <td class="text-center">
              <input hidden name="parts_id" value="${parts_id}">
              <input class="media-body align-self-center" name="cnt" value="0">
            </td>
            <td class="text-center">
              <button class="btn btn-outline-danger mb-2 me-4" type="button" onclick="del_part('part-${+parts_id}')">-</button>
            </td>`

            newRow.addEventListener("change", function (event) {
              if (autoFlag) {
                auto_total_price();
              }
            });
          }

          function auto_total_price() {
            let totalPrice = 0;

            let trArr = document.getElementById('partsList').innerText.split('-');
            let cntArr = document.getElementsByName('cnt');

            cntArr.forEach(function (item, index) {
              let partPrice = +trArr[index].split('\t')[2].replace(',', '');
              totalPrice += +item.value * partPrice;
            })

            // console.log(totalPrice);
            document.getElementById('price').value = totalPrice;
          }

          function del_part(id) {
            // console.log(id);
            document.getElementById(id).remove();
          }

          async function searchParts() {
            const target_id = "searchResults";
            const searchWord_element = document.getElementById('searchWord');
            const searchWord = searchWord_element.value;

            const res = await fetch(`/parts/search?q=${searchWord}`)
              .then((response) => {
                // console.log(response.json());
                return response.json();
              })
            // .catch((err) => { console.error(err) });

            const result = res.data;
            // console.log(result);
            document.getElementById('searchCount').innerText = `${searchWord} 검색결과 ${result.count}개`;
            searchWord_element.value = '';

            let tempHTML = ''
            for (let i = 0; i < result.count; i++) {
              tempHTML += `<tr onclick="add_part(${result.rows[i].parts_id});" id="part${result.rows[i].parts_id}">
                    <td class="text-center">
                      <span class="media-body align-self-center partName">
                        ${result.rows[i].name}
                      </span>
                    </td>
                    <td class="text-center">
                      <span class="media-body align-self-center partUnit">
                        ${result.rows[i].unit}
                      </span>
                    </td>
                    <td class="text-center">
                      <span class="media-body align-self-center partPrice">
                        ${result.rows[i].price}
                      </span>
                    </td>
                  </tr>`
            }

            document.getElementById(target_id).innerHTML = tempHTML;
          }

          document.getElementById('searchWord').addEventListener("keyup", (event) => {
            const key = event.key;
            if (key == 'Enter') return searchParts();
          })

        </script>
        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>