<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

    <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

        <!--  BEGIN CONTENT AREA  -->
        <div id="content" class="main-content">
            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">
                    <!-- BREADCRUMB -->
                    <div class="page-meta">
                        <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a
                                        href="/vertical-light-menu/subsidiary-material.html">User
                                        Management</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add</li>
                            </ol>
                        </nav>
                    </div>
                    <!-- /BREADCRUMB -->

                    <div class="row layout-spacing">
                        <div class="col-lg-12 layout-top-spacing">
                            <div class="col-lg-12">
                                <div class="statbox widget box box-shadow">
                                    <form method="post">
                                        <div class="widget-content widget-content-area">
                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>User ID</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text1"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text1" type="text" name="userid"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Password</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text2"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text2" type="password" name="password"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Confirm Password</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text3"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text3" type="password" name="confirm_password"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Name</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text4"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text4" type="text" name="userName"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Phone</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text4"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text4" type="text" name="phone"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Email</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text5"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text5" type="text" name="email"
                                                            placeholder="" class="form-control" required>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Permission</h6>
                                                </div>
                                            </div>

                                            <div class="row layout-spacing">
                                                <div class="col-12 ">
                                                    <div class="table-responsive">
                                                        <table
                                                            class="table table-hover table-striped table-bordered">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Menu</th>
                                                                    <th scope="col">Read</th>
                                                                    <th class="text-center" scope="col">Add/Edit
                                                                    </th>
                                                                    <th class="text-center" scope="col">Delete
                                                                    </th>
                                                                    <th class="text-center" scope="col">ALL</th>
                                                                </tr>
                                                                <tr aria-hidden="true"
                                                                    class="mt-3 d-block table-row-hidden"></tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Notice
                                                                            Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission1"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission1"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission1"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission1"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Review
                                                                            Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission2"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission2"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission2"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission2"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Reception
                                                                            History Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission3"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission3"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission3"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission3"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Image
                                                                            Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission4"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission4"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission4"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission4"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Car
                                                                            Information Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission5"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission5"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission5"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission5"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Subsidiary
                                                                            Material Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission6"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission6"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission6"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission6"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="text-center">
                                                                        <span
                                                                            class="media-body align-self-center">Supplier
                                                                            USER Management</span>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-primary form-check-inline">
                                                                            <input class="form-check-input permission7"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-info form-check-inline">
                                                                            <input class="form-check-input permission7"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-success form-check-inline">
                                                                            <input class="form-check-input permission7"
                                                                                type="checkbox" value=""
                                                                                checked="" name="permission">
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div
                                                                            class="form-check form-check-danger form-check-inline">
                                                                            <input class="form-check-input" id="permission7"
                                                                                type="checkbox" value=""
                                                                                checked="">
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                                    <h6>Note</h6>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <label for="t-text6"
                                                            class="visually-hidden">Text</label>
                                                        <input id="t-text6" type="text" name="note"
                                                            placeholder="" class="form-control">
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="row layout-top-spacing">
                                                <div class="col-12">

                                                    <div class="form-group">
                                                        <button
                                                            class="btn btn-outline-success mb-2 me-4">Add</button>
                                                        <button class="btn btn-outline-danger mb-2 me-4"
                                                            type="button" onclick="cancel()">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <%- include ("../partials/footer.ejs") %>

        </div>
        <!--  END CONTENT AREA  -->
    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ("../partials/commonScrpits.ejs") %>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
        checkall('permission1','permission1')
        checkall('permission2','permission2')
        checkall('permission3','permission3')
        checkall('permission4','permission4')
        checkall('permission5','permission5')
        checkall('permission6','permission6')
        checkall('permission7','permission7')
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>