<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed alt-menu">

  <%- include ("../partials/loader.ejs") %>

    <%- include ("../partials/nav.ejs") %>

      <!--  BEGIN MAIN CONTAINER  -->
      <div class="main-container sidebar-closed " id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <%- include ("../partials/sidebar.ejs") %>

          <!--  BEGIN CONTENT AREA  -->
          <div id="content" class="main-content">
            <div class="layout-px-spacing">

              <div class="middle-content container-xxl p-0">
                <!-- BREADCRUMB -->
                <div class="page-meta">
                    <nav class="breadcrumb-style-one" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Reception History Management</li>
                            <li class="breadcrumb-item"><a
                                    href="export-request.html">Export Request</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Add</li>
                        </ol>
                    </nav>
                </div>
                <!-- /BREADCRUMB -->

                <div class="row layout-spacing">
                    <div class="col-lg-12 layout-top-spacing">
                        <div class="col-lg-12">
                            <div class="statbox widget box box-shadow">
                                <div class="widget-header">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h4></h4>
                                        </div>
                                    </div>
                                </div>

                                <div class="widget-content widget-content-area">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Customer Name</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text1" class="visually-hidden">Text</label>
                                                    <input id="t-text1" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Phone Number</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text2" class="visually-hidden">Text</label>
                                                    <input id="t-text2" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Car Number</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text3" class="visually-hidden">Text</label>
                                                    <input id="t-text3" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Car Name</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text4" class="visually-hidden">Text</label>
                                                    <input id="t-text4" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Address(City)</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text5" class="visually-hidden">Text</label>
                                                    <input id="t-text5" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>Address(Details)</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <label for="t-text6" class="visually-hidden">Text</label>
                                                    <input id="t-text6" type="text" name="txt" placeholder=""
                                                           class="form-control" required>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>운행 여부</h6>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>사고 여부</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>변속기</h6>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>썬루프 여부</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>엔진 상태</h6>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>미션 상태</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>하부 상태</h6>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>외관 상태</h6>
                                        </div>
                                    </div>

                                    <div class="row layout-spacing">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>차량 전면</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile1">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>측면(좌)</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile2">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>측면(우)</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile3">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>차량 후방</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile4">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>계기판</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile5">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>엔진등</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile6">
                                    </div>

                                    <div class="mb-3">
                                        <div class="col-xl-4 mb-xl-0 mb-2">
                                            <h6>차량내부(옵션)</h6>
                                        </div>
                                        <input class="form-control file-upload-input" type="file" id="formFile7">
                                    </div>

                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                            <h6>State</h6>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-12 ">
                                            <select class="form-select  form-select-lg">
                                                <option>Large select</option>
                                                <option>One</option>
                                                <option>Two</option>
                                                <option>Three</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row layout-top-spacing">
                                        <div class="col-lg-6 col-12 ">
                                            <form method="post">
                                                <div class="form-group">
                                                    <button class="btn btn-outline-success mb-2 me-4">Save</button>
                                                    <button class="btn btn-outline-danger mb-2 me-4">Cancel</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            </div>

            <%- include ("../partials/footer.ejs") %>

          </div>
          <!--  END CONTENT AREA  -->
      </div>
      <!-- END MAIN CONTAINER -->

      <%- include ("../partials/commonScrpits.ejs") %>

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>